.header {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

div {
  padding: .5rem;
}

input {
  margin: .25em;
  border-radius: .10em;
}

.stock {
  background-color: lightgray;
  border-radius: .10em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.arrow {
  height: 20px;
  width: 20px;
  margin: 0;
}

.companyName {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

.companyWebsite {
  display: block;
  text-align: center;
}

.companyIndustry {
  font-style: italic;
  text-align: center;
}

.price {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

/* .price span {
  padding-left: .10em;
} */

#percentChange, #pointsChange {
  padding-left: .10em;
}

#currency {
  padding: 0;
  margin: 0;
}

.newsPicture {
  max-width: 500px;
  max-height: 500px;
  display: inline-block;
}

#currency {
  font-size: .75rem;
  padding: 0;
}

.dataTable {
  margin: auto;
  width: 90%;
}

.dataTable th {
  border-bottom: 1px solid black;
  text-align: center;
  font-weight: 600;
}

.dataTable td {
  text-align: center;
  font-weight: 300;
}

#dateTime {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  padding-top: 1em;
}

.error {
  color: red;
  font-size: 1.25em;
  font-weight: 500;
}

#curPrice {
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {

  .stock {
    padding: .5em;
  }

  .dataTable {
    width: 60%;
  }


  .price span {
    padding: .25em;
  }
}

@media screen and (min-width: 992px) {
  .price {
    font-size: 1.25em;
  }

  #curPrice {
    font-size: 1.5rem;
  }
}